<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 style="color:red;">Payhouse Limited</h2>
    <h5  style="margin-top:20px;"><b style="color:green;">New User Registration</b></h5>
    <h4 style=""><b  style="green;">Dear subject</b> </h4>
    <br/>
    <div class="" style="height:200px; width:80%; margin-left:10%;">

        <p style="margin-top:20px; color:green;">

            payload
        </p>
        <div class-"height:100px; width:80%;margin-left:10%;margin-top:10px;background-color:white;">
            <h6>
                <i>
                    Payhouse Limited Mukima Drive<br />
                    P.O Box 3343-00621 Nairobi,Kenya,<br />
                    Phone: +254 720  494 210, +254704633455<br />
                    Email: sales@payhouse.co.ke Website:payhouse.co.ke
                </i>
            </h6>
        </div>
        <h6 style="color:blue;"> Sent on: emailsentdate</h6>

    </div>

  

</body>
</html>